#menu-area nav {
  background-color: #161718;
}
#menu-area ul a {
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  padding: 10px 15px;
}
#menu-area ul a:hover {
  color: #fff;
  background-color: rgb(158, 172, 146);
  border-radius: 5px;
}
